<div class="item">
    <div class='item-title' style="background: #eee; height: 40px;line-height: 40px;padding:0 30px;">
        <span style="margin: 0 50px;"><label>工会编号：</label><span>{{unionNo}}</span></span>
            <span class="" style="float: right">
                <span>更多<i class="fa fa-caret-square-o-up showDetail"> </i></span>
            </span>
    </div>

    <div class='item-body' style="height: 60px;padding: 10px;">
        <div class="col-lg-2">
            <img src="">
            <span>{{name}}</span></div>
        <div class="col-lg-2">{{peopleCount}}</div>
        <div class="col-lg-2">{{unionPresident}}</div>
        <div class="col-lg-2">{{status}}</div>
        <div class="col-lg-2">{{createTime}}</div>
        <div class="col-lg-2">{{rank}}</div>
    </div>

    <div class='item-detail' style="height: 280px;">
        <div>
            <div class="detail-tab">
                <div style="float:right;position: relative; margin-top: 30px;">
                    <span><label>月充值：</label><span>{{recharge}}</span></span>
                    <span><label>累计充值：</label><span>{{totalRecharge}}</span></span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#game" data-toggle="tab">入住游戏</a></li>
                    <li class=""><a data-target="#team" data-toggle="tab">公会团队</a></li>
                    <li class=""><a data-target="#package" data-toggle="tab">公会礼包</a></li>
                    <li class=""><a data-target="#rules" data-toggle="tab">工会制度</a></li>
                    <li class=""><a data-target="#notice" data-toggle="tab">工会公告</a></li>
                    <li class=""><a data-target="#meetingRoom" data-toggle="tab">议事大厅</a></li>
                    <li class=""><a data-target="#registerInfo" data-toggle="tab">注册信息</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="game">
                        <div>
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <td>游戏名称</td>
                                    <td>服务区</td>
                                    <td>服/频道</td>
                                    <td>负责人</td>
                                    <td>入住人数</td>
                                    <td>入住时间</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>某手world</td>
                                    <td>亚洲</td>
                                    <td>历史的缇娜康</td>
                                    <td>大水果</td>
                                    <td>233</td>
                                    <td>2016-2-13</td>
                                </tr>
                                <tr>
                                    <td>某手world</td>
                                    <td>亚洲</td>
                                    <td>历史的缇娜康</td>
                                    <td>大水果</td>
                                    <td>233</td>
                                    <td>2016-2-13</td>
                                </tr>
                                <tr>
                                    <td>某手world</td>
                                    <td>亚洲</td>
                                    <td>历史的缇娜康</td>
                                    <td>大水果</td>
                                    <td>233</td>
                                    <td>2016-2-13</td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="page-wrap">

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="team">
                        team
                    </div>
                    <div class="tab-pane " id="package">
                        package
                    </div>

                </div>
            </div>



        </div>

    </div>


</div>