<!--账号列表-->
<div class="account-list">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="max-width: 800px;">
                <div  id="filter-wrap"></div>

                <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">搜索账号</button>
                    <button id="export-table-data" class="btn btn-default">批量导出</button>
                </div>

                <div class="text-center ico-collapse" data-toggle="collapse" ><span>收起</span><i class="fa fa-lg fa-caret-up"></i></div>

            </div>

            <div class="box" style="baccount-top:0;">
                <!--<div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>--><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div>
                        <div class="box-body no-padding">

                            <table class="table table-striped">
                                <thead><tr>
                                    <th >工号</th>
                                    <th>姓名</th>
                                    <th>手机</th>
                                    <th>部门</th>
                                    <th>等级</th>
                                    <th>职位</th>
                                    <th>后台账号</th>
                                    <th>后台权限</th>
                                    <th></th>
                                </tr></thead>
                                <tbody id="account-list">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="account-list-page-wrap" class="page-wrap">

                    </div>
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>