<style>
    .label-title{
        width: 95px;
        display: inline-block;
        text-align: right;
    }
</style>
<div class="settlement-dialog no-padding">
    <div class="box-header">


    </div>
    <div class="box-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>结算账户</th>
                <th>联系方式</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="123456799">
                <td>
                    <div>
                        <span class="label-title">收款银行：</span>
                        <span class="label-value">{{bank}}</span>
                    </div>
                     <div>
                        <span class="label-title">收款账号：</span>
                        <span class="label-value">{{bankAccount}}</span>
                    </div>
                    <div>
                        <span class="label-title">收款户名：</span>
                        <span class="label-value">{{bankUserName}}</span>

                    </div>


                </td>
                <td>
                    <div>
                        <span class="label-title">公会负责人：</span>
                        <span class="label-value">{{unionChargePeople}}</span>
                     </div>
                    <div>
                        <span class="label-title">联系方式：</span>
                        <span class="label-value">{{phoneNo}}</span>
                    </div>
                    <div>
                        <span class="label-title">电子邮箱：</span>
                        <span class="label-value">{{email}}</span>
                    </div>
                    <div>
                        <span class="label-title">身份证：</span>
                        <span class="label-value">{{ID}}</span>

                    </div>
                </td>
            </tr>
            <tr>
                <td >
                    <span class="label-title">结算备注：</span>
                    <span class="label-value">{{remark}}</span>
                </td>
            </tr>



            </tbody>
        </table>
    </div>


</div>