<section id="union-rebate-wrap" class="union-wrap">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="max-width: 830px;">
                <div >
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-value="1" class="filter-item">01</a></li>
                        <li class="">      <a data-value="2" class="filter-item">02</a></li>
                        <li class="">      <a data-value="3" class="filter-item">03</a></li>
                        <li class="">      <a data-value="4" class="filter-item">04</a></li>
                        <li class="">      <a data-value="5" class="filter-item">05</a></li>
                        <li class="">      <a data-value="6" class="filter-item">06</a></li>
                        <li class="">      <a data-value="7" class="filter-item">07</a></li>
                        <li class="">      <a data-value="8" class="filter-item">08</a></li>
                        <li class="">      <a data-value="9" class="filter-item">09</a></li>
                        <li class="">      <a data-value="10" class="filter-item">10</a></li>
                        <li class="">      <a data-value="11" class="filter-item">11</a></li>
                        <li class="">      <a data-value="12" class="filter-item">12</a></li>
                        <li class="">
                            <select class="form-control filter-item data-item"  name="year" data-name="year">
                                <option value="2016">2016年</option>
                                <option value="2015">2015年</option>
                                <option value="2014">2014年</option>
                            </select>
                        </li>
                        <li class="">
                            <select class="form-control filter-item data-item"  name="status" data-name="status">
                                <option value="1">交易成功</option>
                                <option value="2">等待发货</option>
                                <option value="3">违规已退返</option>
                            </select>
                        </li>

                    </ul>

                </div>

               <!-- <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">搜索工会</button>
                    <button id="export-table-data" class="btn btn-default">批量导出</button>
                </div>-->


            </div>

            <div class="box" style="border-top:0;">
                <!--<div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>--><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="union-rebate-list">

                    </div>

                    <div id="union-rebate-page-wrap" class="page-wrap">

                    </div>
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</section>