<section id="union-rebate-wrap" class="union-wrap">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="max-width: 800px;">
                <div >
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-value="01" data-url="">01</a></li>
                        <li class="">      <a data-value="02" data-url="">02</a></li>
                        <li class="">      <a data-value="03" data-url="">03</a></li>
                        <li class="">      <a data-value="04" data-url="">04</a></li>
                        <li class="">      <a data-value="05" data-url="">05</a></li>
                        <li class="">      <a data-value="06" data-url="">06</a></li>
                        <li class="">      <a data-value="07" data-url="">07</a></li>
                        <li class="">      <a data-value="08" data-url="">08</a></li>
                        <li class="">      <a data-value="09" data-url="">09</a></li>
                        <li class="">      <a data-value="10" data-url="">10</a></li>
                        <li class="">      <a data-value="11" data-url="">11</a></li>
                        <li class="">      <a data-value="12" data-url="">12</a></li>

                    </ul>
                </div>

                <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">搜索工会</button>
                    <button id="export-table-data" class="btn btn-default">批量导出</button>
                </div>


            </div>

            <div class="box" style="border-top:0;">
                <!--<div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>--><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div id="union-rebate-list">

                    </div>

                    <div id="union-rebate-page-wrap" class="page-wrap">

                    </div>
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</section>