
<div class="union-rebate-detail">

    <div class="box rebate-box">
        <div class="box-header v-align">
            <h4>2016年返点金额记录</h4>
        </div>
        <div class="box-body v-auto-out">
            <div class="chart-item chart-left">
                <ul data-name="rebate">
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="day"   >按日</a> </li>
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="month" >按月</a> </li>
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="year"  >按年</a> </li>
                </ul>
            </div>

            <div id="bar-chart-wrap" class="chart-item chart-center">

            </div>

            <div class="chart-item chart-right">
                <span>总金额：</span>
                <span>1234123元</span>
            </div>
        </div>
    </div>

    <div class="box consumption-box">
        <div class="box-header v-align">
            <h4>2016年消费记录</h4>
        </div>
        <div class="box-body v-auto-out" >
            <div class="chart-item chart-left">
                <ul  data-name="consumption">
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="day"   >按日</a> </li>
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="month" >按月</a> </li>
                    <li><a class="btn btn-sm btn-default chart-btn" data-name="year"  >按年</a> </li>
                </ul>
            </div>

            <div id="bar-chart-wrap2" class="chart-item chart-center">

            </div>

            <div class="chart-item chart-right">
                <span>总金额：</span>
                <span><span class="f-red">1234123</span>元</span>
                <br></br>
                <span>订单数：</span>
                <span>21213</span>

            </div>
        </div>
    </div>



</div>