<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th style="width: 10px">工会编号</th>
            <th>名称</th>
            <th>成员人数</th>
            <th>公会会长</th>
            <th>创建时间</th>
            <th>公会状态</th>
            <th>公会排名</th>
            <th></th>
        </tr>
        {{#each list}}
        <tr>
            <td>{{unionNo}}</td>
            <td>{{name}}</td>
            <td>{{peopleCount}}</td>
            <td>{{unionPresident}}</td>
            <td>{{status}}</td>
            <td>{{createTime}}</td>
            <td>{{rank}}</td>
            <td><a class="showDetail">详情</a></td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>