<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th style="width: 10px">工会编号</th>
            <th>名称</th>
            <th>消费金额</th>
            <th>返点率</th>
            <th>返利金额</th>
            <th>结算状态</th>
            <th>操作</th>
        </tr>
        {{#each list}}
        <tr data-id="{{id}}">
            <td>{{unionNo}}</td>
            <td>{{guildName}}</td>
            <td>{{consumptionAmount}}</td>
            <td>{{rebateRate}}</td>
            <td>{{rebateAmount}}</td>
            <td>{{guildStatus}}</td>
            <td>
                <a class="operation " data-oper="settlement">结算</a>
                <a class="operation " data-oper="detail">详情</a>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>