<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <script type="text/javascript">__inline('/components/lib/fdata/fdata.js');</script>
    <script type="text/javascript" src="/components/lib/router/router.js"></script>
    <script type="text/javascript" src="/components/lib/require/require.js"></script>
    <script type="text/javascript" src="/components/lib/handlebars/handlebars.js"></script>
    <script type="text/javascript" src="/components/lib/handlebars/handlebars-extend.js"></script>
    <script type="text/javascript" src="/components/lib/clipboard/clipboard.min.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript">
        __inline('/components/lib/html5/html5.js');
    </script>
    <![endif]-->
    <!--<link rel="stylesheet" type="text/css" href="/components/common/theme/theme.css" />-->
    <link rel="stylesheet" type="text/css" href="/components/common/theme/jquery.ui.scss" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/layout.scss" />


    <title>game后台</title>
    <link rel="stylesheet" type="text/css" href="/components/common/theme/adminLTE/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/adminLTE/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/adminLTE/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/laydate/laydate.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/adminLTE/AdminLTE.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/game-theme.scss" />

    <link rel="stylesheet" type="text/css" href="/components/widget/filter/filter.scss" />
    <link rel="stylesheet" type="text/css" href="/components/common/pager/pager.scss" />
    <link rel="stylesheet" type="text/css" href="/components/page/union/union-list/union-list.scss" />
    <link rel="stylesheet" type="text/css" href="/components/page/index/index.scss" />
    <link rel="stylesheet" type="text/css" href="/components/page/order/order.scss" />
    <link rel="stylesheet" type="text/css" href="/components/page/package/package.scss" />



</head>
<body class="game-theme">
<!--<link rel="import" href="/views/layout/layout.html?__inline">-->
<div class="page-main-content no-header" id="page-main-content">
    <link rel="import" href="/components/widget/page-loading/page-loading.html?__inline">
</div>
</body>
<script type="text/javascript">
    require.async('/views/router.js', function(router){
        router();
    });
</script>


</html>