{{#if header}}
{{{header}}}
{{/if}}
<div class="page-content {{#if header}}has-header{{else}}no-header{{/if}}" id="page-content">
<div class="page-line"></div>
<div class="page-content-inner" id="page-content-inner">
{{#if header_l2}}
{{{header_l2}}}
{{/if}}
</div>
<div class="page-line"></div>
</div>
{{{footer}}}