<!--添加公告-->
<div class="add-notice-dialog">

    <div class="form-group">
        <label>标题</label>
        <input id="notice-title" type="text" class="form-control" placeholder="" />
    </div>
    <div class="form-group">
        <label>公告内容</label>
        <textarea  id="notice-content" class="form-control" rows="5" placeholder=""></textarea>
    </div>

</div>