<!--index-->
<div class="index-page">
    <div class="user-base-info">
        <div class="box box-solid bg-green">
            <div class="box-body">
               <h3><i class="fa-1x fa fa-user"></i>12344</h3>
                <div class="label">新增用户</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-light-blue">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i>211124</h3>
                <div class="label">总用户数</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-yellow">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i>213</h3>
                <div class="label">非活跃用户</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-red">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i>213</h3>
                <div class="label">流失用户</div>
            </div><!-- /.box-body -->
        </div>
    </div>
    <div class="index-table quick-links">
        <div class="box box-solid">
            <div class="box-header">
                <h6 class="box-title">待办事宜</h6>
            </div>
            <div class="box-body">
                <div class="label"><a>支付待发货（23）</a></div>
                <div class="label"><a>客户问题待处理（23）</a></div>
                <div class="label"><a>客户问题超时处理（45）</a></div>
                <div class="label"><a>新公会审核（12）</a></div>
            </div><!-- /.box-body -->
        </div>
    </div>
    <div class="index-table quick-links">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">实时信息</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table ">
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <span>交易成功：2324</span>
                                <span class="pull-right">订单取消：24</span>
                            </div>
                            <h3 class="text-center">3443</h3>
                            <div class="text-center">销售金额</div>
                        </td>
                        <td>
                            <div>
                                <span>礼包领取：2324</span>
                                <span class="pull-right">补充请求：24</span>
                                <h3 class="text-center">3443</h3>
                                <div class="text-center">礼包领取UV</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>公会数量：2324</span>
                                <span class="pull-right">成员数量：24</span>
                                <h3 class="text-center">3443</h3>
                                <div class="text-center">新增公会</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <span>游戏图片：2324</span>
                                <span class="pull-right">游戏视频：24</span>
                            </div>
                            <h3 class="text-center">3443</h3>
                            <div class="text-center">发布游戏圈</div>
                        </td>
                        <td>
                            <div>
                                <span>网站PV：2324</span>
                                <span class="pull-right">网站UV：24</span>
                                <h3 class="text-center">3443</h3>
                                <div class="text-center">停留时间（秒）</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>解决问题：2324</span>
                                <span class="pull-right">等待解决：24</span>
                                <h3 class="text-center">3443</h3>
                                <div class="text-center">客户问题反馈</div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
        </div>
        <div class="index-table quick-links">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">公司通知</div>
                    <div class="box-tools">
                        <button id="add-notice-btn" class="btn btn-sm btn-default pull-right"><i class="fa fa-plus"></i>添加公告</button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody id="notice-list">
                        <tr>
                            <td>
                              <span><a>《骏网一卡通》充值业务暂停通告，请全体知悉</a> </span>
                              <span class="pull-right"> 2016-10-3 </span>
                            </td>

                        </tr>

                        </tbody></table>
                    <div id="notice-page-wrap" class="text-center page-wrap">

                    </div>
                </div><!-- /.box-body -->
            </div>
    </div>
</div>