.index-page{
  .user-base-info{
    .box{
      max-width: 250px;
      display: inline-block;
      h3{
        text-align: center;
        margin:0;
        font-size: 36px;

        .count{
          margin-left:10px;
        }
      }
      .label{
        display: block;
        text-align: center;
      }
    }
  }

  .index-table{
    .box{
      padding: 0;
      border:1px solid #ccc;
      .box-header{
        background: #eee;
        padding-bottom: 0;
        .box-title{
          font-size: 16px;
        }
      }
      .box-body{
        td{
          border-right: 1px solid #e1e1e1;
        }
      }
    }
  }
}