<!--index-->
<div class="index-page">
    <div class="user-base-info">
        <div class="box box-solid bg-green">
            <div class="box-body">
               <h3><i class="fa-1x fa fa-user"></i><span class="count">{{userInfo.newCount}}</span></h3>
                <div class="label">新增用户</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-light-blue">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i><span class="count">{{userInfo.totalCount}}</span></h3>
                <div class="label">总用户数</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-yellow">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i><span class="count">{{userInfo.notActivwCount}}</span></h3>
                <div class="label">非活跃用户</div>
            </div><!-- /.box-body -->
        </div>
        <div class="box box-solid bg-red">
            <div class="box-body">
                <h3><i class="fa-1x fa fa-user"></i><span class="count">{{userInfo.activeCount}}</span></h3>
                <div class="label">流失用户</div>
            </div><!-- /.box-body -->
        </div>
    </div>
    <div class="index-table quick-links">
        <div class="box box-solid">
            <div class="box-header">
                <h6 class="box-title">待办事宜</h6>
            </div>
            <div class="box-body">
                <div class="label"><a href="/fe-admin/views/index.html#/order/list">支付待发货（{{first_info.waitSend}}）</a></div>
                <div class="label"><a href="/fe-admin/views/index.html#/customer_service/list">客户问题待处理（{{first_info.customerQuestion}}）</a></div>
                <div class="label"><a href="/fe-admin/views/index.html#/customer_service/list">客户问题超时处理（{{first_info.customerOvertimeQuestion}}）</a></div>
                <div class="label"><a href="/fe-admin/views/index.html#/union/check">新公会审核（{{first_info.newGuildCheck}}）</a></div>
            </div><!-- /.box-body -->
        </div>
    </div>
    <div class="index-table quick-links">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">实时信息</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table ">
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <span>交易成功：{{first_info.succOrder}}</span>
                                <span class="pull-right">订单取消：{{first_info.cancleOrder}}</span>
                            </div>
                            <h3 class="text-center">{{first_info.totalMoney}}</h3>
                            <div class="text-center">销售金额</div>
                        </td>
                        <td>
                            <div>
                                <span>礼包领取：{{first_info.giftCount}}</span>
                                <span class="pull-right">补充请求：{{first_info.giftSupplement}}</span>
                                <h3 class="text-center">{{first_info.giftTotal}}</h3>
                                <div class="text-center">礼包领取UV</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>公会数量：{{first_info.guildCount}}</span>
                                <span class="pull-right">成员数量：{{first_info.memberCount}}</span>
                                <h3 class="text-center">{{first_info.newGuild}}</h3>
                                <div class="text-center">新增公会</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <span>游戏图片：{{first_info.gamePicture}}</span>
                                <span class="pull-right">游戏视频：{{first_info.gameVideo}}</span>
                            </div>
                            <h3 class="text-center">{{first_info.gameCircle}}</h3>
                            <div class="text-center">发布游戏圈</div>
                        </td>
                        <td>
                            <div>
                                <span>网站PV：{{first_info.webPv}}</span>
                                <span class="pull-right">网站UV：{{first_info.webUv}}</span>
                                <h3 class="text-center">{{first_info.stayTime}}</h3>
                                <div class="text-center">停留时间（秒）</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span>解决问题：{{first_info.solveQuestion}}</span>
                                <span class="pull-right">等待解决：{{first_info.customerQuestion}}</span>
                                <h3 class="text-center">{{first_info.customerFeedback}}</h3>
                                <div class="text-center">客户问题反馈</div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
        </div>
        <div class="index-table quick-links">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">公司通知</div>
                    <div class="box-tools">
                        <button id="add-notice-btn" class="btn btn-sm btn-default pull-right"><i class="fa fa-plus"></i>添加公告</button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody id="notice-list">
                        <tr>
                            <td>
                              <span><a>《骏网一卡通》充值业务暂停通告，请全体知悉</a> </span>
                              <span class="pull-right"> 2016-10-3 </span>
                            </td>

                        </tr>

                        </tbody></table>
                    <div id="notice-page-wrap" class="text-center page-wrap">

                    </div>
                </div><!-- /.box-body -->
            </div>
    </div>
</div>