<!--通知详情-->
<div class="notice-detail">
    <div class="">
        <div class="box-header">
            <h3 class="box-title">{{title}}</h3>
        </div>
        <div class="box-body">
            <p>
                {{notice}}
            </p>
        </div><!-- /.box-body -->
    </div>
</div>