<!-- header logo: style can be found in header.less -->
<header class="header">

</header>
<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 723px;">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas" style="min-height: 723px;">
        <!-- sidebar: style can be found in sidebar.less -->
        {{{leftNav}}}
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->