<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="#/index">
                    <i class="fa fa-home"></i> <span>首页</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>充值订单</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/order/list"><i class="fa fa-angle-double-right"></i> 订单列表</a></li>
                    <li><a href="#/order/addProducts"><i class="fa fa-angle-double-right"></i>发布商品 </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>礼包</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/package/list"><i class="fa fa-angle-double-right"></i> 领取记录</a></li>
                    <li><a href="#/package/index"><i class="fa fa-angle-double-right"></i>礼包管理 </a></li>
                    <li><a href="#/package/add"><i class="fa fa-angle-double-right"></i>新增礼包 </a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>工会</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/union/list"><i class="fa fa-angle-double-right"></i> 工会查询</a></li>
                    <li><a href="#/union/check"><i class="fa fa-angle-double-right"></i> 新工会审核</a></li>
                    <li><a href="#/union/rebat"><i class="fa fa-angle-double-right"></i> 公户返利结算</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#/customer/list">
                    <i class="fa fa-home"></i> <span>客户资料</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>客服中心</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/customer_service/list"><i class="fa fa-angle-double-right"></i>线上留言问题 </a></li>
                    <li><a href="#/customer_service/add"><i class="fa fa-angle-double-right"></i> 来电咨询</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>展示位</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/union/list"><i class="fa fa-angle-double-right"></i> 首页视频&热门充值</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>工具</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/union/email"><i class="fa fa-angle-double-right"></i> 邮件</a></li>
                    <li><a href="#/tool/sms"><i class="fa fa-angle-double-right"></i> 短信</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/union/email"><i class="fa fa-angle-double-right"></i> 操作日志</a></li>
                    <li><a href="#/tool/sms"><i class="fa fa-angle-double-right"></i> 后台账号</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>