{{#each list}}

<tr data-id="{{id}}" class="log-item">
    <td>{{id}}</td>
    <td>{{createTime}}</td>
    <td>{{username}}</td>
    <td>{{mobile}}</td>
    <td>{{messType}}</td>
    <td>{{msgStatus}}</td>
    <td>{{waitTime}}</td>
    <td>{{questionDetail}}</td>
    <td>
        <a class="operation " data-oper="close">无效关闭</a>
        <a class="operation " data-oper="reply">回复</a>
    </td>
</tr>
        {{/each}}