<!--礼包列表-->
<div class="package-list">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="max-width: 800px;">
                <div  id="filter-wrap"></div>

                <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">搜索</button>
                    <button id="export-table-data" class="btn btn-default">批量导出</button>
                </div>

                <div class="text-center ico-collapse" data-toggle="collapse" ><span>收起</span><i class="fa fa-lg fa-caret-up"></i></div>

            </div>

            <div class="box" style="border-top:0;">
                <!--<div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>--><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div>
                        <div class="box-body no-padding">

                            <table class="table table-striped">
                                <thead><tr>
                                    <th >礼包编号</th>
                                    <th >游戏名称</th>
                                    <th>礼包名称</th>
                                    <th>有效期</th>
                                    <th>礼包状态</th>
                                    <th>上架时间</th>
                                    <th>类型</th>
                                    <th>库存</th>
                                    <th>发放量</th>
                                    <th></th>
                                </tr></thead>
                                <tbody id="package-list">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="package-list-page-wrap" class="page-wrap">

                    </div>
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>