{{#each list}}

<tr data-id="{{id}}" class="package-record-item">
    <td>{{packageNo}}</td>
    <td>{{gameName}}</td>
    <td>{{packageName}}</td>
    <td>{{usedAbleTime}}</td>
    <td>{{status}}</td>
    <td>{{type}}</td>
    <td>{{count}}</td>
    <td>{{distribute-count}}</td>
    <td>
        <a class="operation " data-oper="detail">更多</a>
        <a class="operation " data-oper="offShelf">下架</a>
        <a class="operation " data-oper="edit">编辑</a>
        <a class="operation " data-oper="upload">上传库存</a>
        <a class="operation " data-oper="delete">删除</a>
    </td>
</tr>
{{/each}}