{{#each list}}

<tr data-id="{{giftId}}" class="package-record-item">
    <td>{{giftId}}</td>
    <td>{{gameName}}</td>
    <td>{{giftName}}</td>
    <td>{{createTime}}至<br>{{endTime}}</td>
    <td>{{giftStatus}}</td>
    <td>{{onlineTime}}</td>
    <td>{{type}}</td>
    <td>{{count}}</td>
    <td>{{distributeCount}}</td>
    <td>
        <a class="operation " data-oper="detail">更多</a>
        <a class="operation " data-oper="offShelf">下架</a>
        <a class="operation " data-oper="edit">编辑</a>
        <br>
        <a class="operation " data-oper="upload">上传库存</a>
        <a class="operation " data-oper="delete">删除</a>
    </td>
</tr>
{{/each}}