<!--訂單詳情-->

<div class="order-detail detail-dialog">

    <div class="box-body">
        <div class="form-group">
            <label class="text-label"> 礼包编号:</label>
            <label  class="label-value"> {{giftNum}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 游戏名称:</label>
            <label class="label-value"> {{gameName}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包名称:</label>
            <label  class="label-value"> {{giftName}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 有效期:</label>
            <label  class="label-value"> {{startTime}}至{{endTime}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包状态:</label>
            <label  class="label-value"> {{giftStatus}}</label>
        </div>


        <div class="form-group">
            <label class="text-label"> 上架时间:</label>
            <label  class="label-value"> {{onlineTime}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 类型:</label>
            <label  class="label-value"> {{giftType}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 库存:</label>
            <label  class="label-value"> {{giftCount}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 发放量:</label>
            <label  class="label-value"> {{giftUsed}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 发放方式:</label>
            <label  class="label-value"> {{giftUseMethod}}</label>

        </div>
        <div class="form-group">
            <label class="text-label"> 礼包内容:</label>
            <div class="" style="max-height: 100px;overflow-y: auto;">{{giftContent}} {{!-- {{#each  packageContent}} {{{this}}}<br />   {{/each}} --}}</div>

        </div>
        <div class="form-group">
            <label class="text-label"> 激活方式:</label>
            <label  class="label-value"> {{giftUseMethod}}</label>

        </div>


    </div>

</div>