<!DOCTYPE html>
<html>
<head>

    <link rel="import" href="/views/layout/base.html?__inline">

    <title>已发布的作业/测评</title>
    <link rel="stylesheet" type="text/css" href="/components/common/theme/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/common/theme/AdminLTE.css" />

</head>
<body>
<!--<link rel="import" href="/views/layout/layout.html?__inline">-->
<div class="page-main-content no-header" id="page-main-content">
    <link rel="import" href="/components/widget/page-loading/page-loading.html?__inline">
</div>
</body>
<script type="text/javascript">
    require.async('views/union/router.js', function(router){
        router();
    });
</script>


</html>