{{#each list}}

<tr data-id="{{id}}" class="package-record-item">
    <td>{{giftNum}}</td>
    <td>{{packageName}}</td>
    <td>{{packageCDK}}</td>
    <td>{{status}}</td>
    <td>{{phoneNo}}</td>
    <td>{{nickname}}</td>
    <td>{{receiveTime}}</td>
    <td>
        <a class="operation " data-oper="detail">更多</a>
    </td>
</tr>
{{/each}}