<!--訂單詳情-->

<div class="order-detail detail-dialog">

    <div class="box-body">
        <div class="form-group">
            <label class="text-label"> 游戏名称:</label>
            <label > {{gameName}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包名称:</label>
            <label > {{packageName}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包CDK:</label>
            <label > {{giftCode}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包状态:</label>
            <label > {{recodeStatus}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 手机号:</label>
            <label > {{phoneNumber}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 昵称:</label>
            <label > {{nickname}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 领取时间:</label>
            <label > {{receiveTime}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 供应商:</label>
            <label > {{supplierId}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 入库时间:</label>
            <label > {{createTime}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 礼包编号:</label>
            <label > {{giftCode}}</label>

        </div>
        <div class="form-group">
            <label class="text-label"> 有效期:</label>
            <label > {{usedAbleTime}}</label>

        </div>


    </div>

</div>