{{#each list}}

<tr data-id="{{id}}" class="package-record-item">
    <td>{{gameName}}</td>
    <td>{{packageName}}</td>
    <td>{{gift_code}}</td>
    <td>{{recodeStatus}}</td>
    <td>{{phoneNumber}}</td>
    <td>{{gameName}}</td>
    <td>{{createTime}}</td>
    <td>
        <a class="operation " data-oper="detail">更多</a>
    </td>
</tr>
{{/each}}