{{#each list}}

<tr data-id="{{id}}" class="log-item">
    <td>{{createTime}}</td>
    <td>{{function}}</td>
    <td>{{content}}</td>
    <td>{{department}}</td>
    <td>{{operator}}</td>
</tr>
{{/each}}