{{#each list}}

<tr data-id="{{id}}" class="log-item">
    <td>{{createTime}}</td>
    <td>{{module}}</td>
    <td>{{content}}</td>
    <td>{{department}}</td>
    <td>{{operatorName}}</td>
</tr>
{{/each}}