{{#each list}}

<tr data-id="{{id}}" class="order-item">
    <td>{{orderId}}</td>
    <td><img src="{{productThumbnail}}" class="union-item-img" />{{goodNum}}</td>
    <td>{{unitPrice}}</td>
    <td>{{gameCount}}</td>
    <td>{{uname}}</td>
    <td>{{convert orderStatus ../statusMap}}</td>
    <td>{{totalPrice}}</td>
    <td>{{createTime}}</td>
    <td>
        <a class="operation " data-oper="detail">更多</a>
        <a class="operation " data-oper="edit">编辑</a>
        <a class="operation " data-oper="cancel">取消订单</a>
        <a class="operation " data-oper="block">锁定订单</a>
        <a class="operation " data-oper="refund">退款</a>
    </td>
</tr>
{{/each}}