<!--訂單詳情-->

<div class="order-detail  detail-dialog">

    <div class="box-body">
        <div class="form-group">
            <label class="text-label"> 订单编号:</label>
            <label > {{orderId}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 商品名称:</label>
            <label > {{goodName}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 单价:</label>
            <label > {{unitPrice}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 数量:</label>
            <label > {{gameCount}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 用户:</label>
            <label > {{uname}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 状态:</label>
            <label > {{convert orderStatus statusMap}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 总金额:</label>
            <label > {{totalPrice}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 下单时间:</label>
            <label > {{createTime}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 充值账号:</label>
            <label > {{payGameAccount}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" > 支付方式:</label>
            <label > {{payWay}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" >支付时间:</label>
            <label > {{payTime}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" >订单类型:</label>
            <label > {{convert orderType typeMap}}</label>
        </div>
        <div class="form-group">
             <label class="text-label" >备注:</label>
            <label > {{remark}}</label>
        </div>

    </div>

</div>