<!--账号列表-->

<div class="customer-detail">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div  id="filter-wrap" class="filter-wrap">
                    <div class="form-group">
                        <label>手机号/邮箱：</label>
                        <input type="text" id="keyword" class="form-control data-item" data-name="account" data-validate="" placeholder="">
                    </div>
                </div>

                <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">查询</button>
                </div>

            </div>

            <div class="box customer-info-box" style="baccount-top:0;">


            </div><!-- /.box -->
        </div>
    </div>
</div>