.customer-detail{

  .filter-wrap .form-group label{
    width: 95px;
  }

  .customer-info{
    td{
      text-align: center;
    }

  }

  .pic-wrap{
    .row{
      margin: 10px auto;

      img{
        max-width: 300px;
        max-height: 100px;
      }


    }


  }


}