<div class="team-table">
    <table class="table table-responsive">
        <thead>
        <tr>
            <td>团队成员</td>
            <td>职务</td>
            <td>负责内容</td>
            <td>手机号</td>
            <td>任职时间</td>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
            <tr>
                <td>{{this.uname}}</td>
                <td>{{this.duty}}</td>
                <td>{{this.charge_content}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.applyTime}}</td>
            </tr>
        {{/each}}


        </tbody>
    </table>

</div>