<div class="package-table">
    <table class="table table-responsive">
        <thead>
        <tr>
            <td>游戏名称</td>
            <td>礼包名称</td>
            <td>礼包类容及使用说明</td>
            <td>领取条件</td>
            <td>库存</td>
            <td>数量</td>
            <td>有效期</td>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
        <tr>
            <td>{{this.game_name}}</td>
            <td>{{this.package_name}}</td>
            <td>{{this.content}}</td>
            <td>{{this.condition}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.count}}</td>
            <td>{{this.expiration}}</td>
        </tr>
        {{/each}}


        </tbody>
    </table>
    <div id="package-table-page-wrap" class="page-wrap"></div>
</div>