<div class="team-table">
    <table class="table table-responsive">
        <thead>
        <tr>
            <td>频道名称</td>
            <td>在线人数</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.online_count}}</td>
                <td>{{convert status ../mStatus}}</td>
                <td>{{this.operation}}</td>
            </tr>
        {{/each}}


        </tbody>
    </table>

    <div class="unblock-wrap">
        <div class="form-group">
            <div class=" radio-inline">
                <label>
                    全部封停<input type="radio" name="unblock" value="block" />
                </label>
            </div>
            <div class=" radio-inline">
                <label>
                    全部解封<input type="radio" name="unblock" value="unblock" />
                </label>
            </div>
        </div>
    </div>

</div>