<div class="union-detail">
  <div class="tab-wrap">
  <ul class="nav nav-tabs">
    <li class="active"><a data-target="#game"          data-toggle="tab" data-url="/admin/union_games">入住游戏</a></li>
    <li class="">      <a data-target="#team"          data-toggle="tab" data-url="/admin/union_team">公会团队</a></li>
    <li class="">      <a data-target="#package"       data-toggle="tab" data-url="/admin/union_package">公会礼包</a></li>
    <li class="">      <a data-target="#rules"         data-toggle="tab" data-url="/admin/union_rules">工会制度</a></li>
    <li class="">      <a data-target="#notice"        data-toggle="tab" data-url="/admin/union_notice">工会公告</a></li>
    <li class="">      <a data-target="#meeting_room"  data-toggle="tab" data-url="/admin/union_meetingRoom">议事大厅</a></li>
    <li class="">      <a data-target="#register_info" data-toggle="tab" data-url="/admin/union_registerInfo">注册信息</a></li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="game">

    </div>
    <div class="tab-pane " id="team">
      team
    </div>
    <div class="tab-pane " id="package">
      package
    </div><!-- /.tab-pane -->
    <div class="tab-pane " id="rules">
      rules
    </div><!-- /.tab-pane -->
    <div class="tab-pane " id="notice">
      notice
    </div><!-- /.tab-pane -->
    <div class="tab-pane " id="meeting_room">
      meeting_room
    </div><!-- /.tab-pane -->
    <div class="tab-pane " id="register_info">
      register_info
    </div><!-- /.tab-pane -->

  </div><!-- /.tab-content -->
  </div>
</div>