.union-wrap{
  .operation-btn-wrap{
    width: 50%;
    text-align: center;
  }
}



.union-detail{
  .register-table{
    .item{
      .label{
        color:#333;
        width: 100px;
        text-align: right;
        display: inline-block;
      }

    }
    .register-check-info{
      display: inline-block;
      padding: 10px;
    }

    .game-span{
      display: inline-block;
      width: 240px;
      word-break: break-all;
    }

  }



}