.game-theme{
  overflow-y: hidden;
  a,
  .fa{
    cursor: pointer;
  }

  .fa{
    margin-left:10px;
  }

  .content{
    background: #fff;
  }
  .box{
    border-top:0;
    padding: 20px;
  }

  .btn {
    &.btn-primary,
    .btn-primary:link,
    .btn-primary:visited{
      color:#fff;
    }
  }

  .ico-collapse{
    cursor: pointer;
    width: 100%;
  }

  .page-wrap{
    padding: 10px;
    text-align: center;
  }

  .form-control{
    max-width: 500px;
  }


}