.game-theme{
  height: auto;
  overflow-y: hidden;

  font: 14px/24px "Microsoft YaHei", "\u5b8b\u4f53", arial, helvetica, sans-serif, tahoma;
  color: #1a1a1a;

  .ui-widget{
    font: 14px/24px "Microsoft YaHei", "\u5b8b\u4f53", arial, helvetica, sans-serif, tahoma;
    color: #1a1a1a;
  }

  th,label,.label{
    font-weight: normal;
  }

  a,
  .fa{
    cursor: pointer;
  }

  .fa{
    margin-left:10px;
  }

  .content{
    background: #fff;
  }
  .box{
    border-top:0;
    padding: 20px;
  }

  .btn {
    &.btn-primary,
    .btn-primary:link,
    .btn-primary:visited{
      color:#fff;
    }
  }

  .ico-collapse{
    cursor: pointer;
    width: 100%;
  }

  .page-wrap{
    padding: 10px;
    text-align: center;
  }

  .form-control{
    max-width: 500px;
  }




  .edit-dialog,.detail-dialog{
    .text-label{
      width: 100px;
      text-align: right;
    }

    .form-control{
      display: inline-block;
    }
  }


  .navbar-right.game-nav-right{
    margin-right: 15px;
  }


}