.page-footer{
	width:100%;
	height:60px;
	border-top:1px solid #e0e0e0;
	background:#ebebeb;
	margin-top: 40px;
	footer{
		width:1000px; 
		height:100%;
		margin:0 auto;
		color:#7b7b7b;
		line-height:60px;
		text-align: center;
	}
}
