<!--订单列表-->
<div class="order-list">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="max-width: 800px;">
                <div  id="filter-wrap"></div>

                <div class="operation-btn-wrap">
                    <button id="exec-search-btn" class="btn btn-default">搜索商品</button>
                    <button id="export-table-data" class="btn btn-default">批量导出</button>
                </div>

                <div class="text-center ico-collapse" data-toggle="collapse" ><span>收起</span><i class="fa fa-lg fa-caret-up"></i></div>

            </div>

            <div class="box" style="border-top:0;">
                <!--<div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>--><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div>
                        <div class="box-body no-padding">
                            <div class="common-filter">
                                <ul class="list-unstyled  list-inline">
                                    <li data-name="status" data-value="value">全部商品</li>
                                    <li data-name="status" data-value="value">负毛利商品</li>
                                    <li data-name="status" data-value="value">库存低于20</li>
                                </ul>
                            </div>
                            <table class="table table-striped">
                                <thead><tr>
                                    <th style="width: 10px"></th>
                                    <th>商品名称</th>
                                    <th>面值</th>
                                    <th>类型</th>
                                    <th>进价</th>
                                    <th>售价</th>
                                    <th>库存</th>
                                    <th>总销量</th>
                                    <th>在售状态</th>
                                    <th></th>
                                </tr></thead>
                                <tbody id="product-list">

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="product-list-page-wrap" class="page-wrap">

                    </div>
                </div>


            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>