<!--訂單詳情-->

<div class="order-detail  detail-dialog">

    <div class="box-body">
        <div class="form-group">
            <label class="text-label"> 商品编号:</label>
            <label > {{goodNum}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 商品名称:</label>
            <label > {{goodName}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 面值:</label>
            <label > {{facePrice}}元</label>
            <!--<input type="text" class="form-control" id="order-price" value="{{banknote}}" />-->
        </div>
        <div class="form-group">
            <label class="text-label"> 类型:</label>
            <label > {{convert type PRODUCT_TYPE}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 进价:</label>
            <label > {{buyPrice}}元</label>
            <!--<input type="text" class="form-control" id="order-buyer" value="{{innerPrice}}">-->
        </div>
        <div class="form-group">
            <label class="text-label"> 售价:</label>
            <label > {{salePrice}}元</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 库存:</label>
            <label > {{goodTotal}}</label>
            <!--<input type="text" class="form-control" id="order-totalCost" value="{{stock}}" >-->
        </div>
        <div class="form-group">
            <label class="text-label"> 总销量:</label>
            <label > {{goodSales}}</label>
        </div>
        <div class="form-group">
            <label class="text-label"> 在售状态:</label>
            <label > {{convert goodStatus STATUS_MAP}}</label>
            <!--<input type="text" class="form-control" id="order-chargeAccount" value="{{status}}">-->
        </div>
        <div class="form-group">
            <label class="text-label"> 商品分类:</label>
            <label > {{convert goodType PRODUCT_CLASS}}</label>
            <!--<input type="text" class="form-control" id="order-payType" value="{{class}}">-->
        </div>
        <div class="form-group">
            <label class="text-label"> 供货商户:</label>
            <label > {{supplierId}}</label>
            <!--<input type="text" class="form-control" id="order-payTime" value="{{supplier}}">-->
        </div>
        <div class="form-group">
            <label class="text-label"> 商品说明:</label>
            <label > {{goodDes}}</label>
        </div>


    </div>

</div>