<!--商品编辑-->

<div class="product-edit" id="product-edit">

    <div class="box-body">
        <div class="form-group">
            <label> 商品编号:</label>
            <label > {{productNo}}</label>
        </div>
        <div class="form-group">
            <label> 商品名称:</label>
            <input type="text" class="form-control" id="product-name" name="name" value="{{productName}}" />
        </div>
        <div class="form-group">
            <label> 面值:</label>
            <input type="text" class="form-control" id="product-banknote" name="banknote" value="{{banknote}}" />
        </div>
        <div class="form-group">
            <label> 类型:</label>
            <select class="form-control data-item" name="type" data-name="type">
                <option value="1">话费充值</option>
                <option value="2">游戏充值</option>
            </select>
        </div>
        <div class="form-group">
            <label> 进价:</label>
            <input type="text" class="form-control" id="product-innerPrice" value="{{innerPrice}}" />
        </div>
        <div class="form-group">
            <label> 售价:</label>
            <input type="text" class="form-control" id="product-price" name="price" value="{{price}}" />
        </div>
        <div class="form-group">
            <label> 库存:</label>
            <input type="text" class="form-control" id="product-stock" name="stock" value="{{stock}}" />
        </div>
        <div class="form-group">
            <label> 总销量:</label>
            <input type="text" class="form-control" id="product-totalCount" name="totalCount" value="{{totalCount}}" />
        </div>
        <div class="form-group">
            <label> 在售状态:</label>
            <select class="form-control data-item" name="status" data-name="status">
                <option value="1">在售中</option>
                <option value="2">已下架</option>
            </select>
        </div>
        <div class="form-group">
            <label> 商品分类:</label>
            <select class="form-control data-item" name="class" data-name="class">
                <option value="1">虚拟类</option>
                <option value="2">实体类</option>
            </select>
        </div>
        <div class="form-group">
            <label>供货商户:</label>
            <input type="text" class="form-control" id="product-supplier" name="supplier" value="{{supplier}}" />
        </div>
        <div class="form-group">
            <label>商品说明:</label>
            <textarea  id="notice-content" class="form-control"  name="description" rows="5" >{{description}}</textarea>
        </div>


    </div>

</div>