* {
	margin: 0;
	padding: 0;
	border: 0;
}

.none {
	display: none;
}

.menu {
	display: inline-block;
}

.list {
	border: 1px solid #f2f2f2;
}

.item {
	padding: 5px 20px;
	text-align: center;
	white-space: nowrap;
}

.hover {
	color: blue;
}

.selected {
	color: blue;
}
