<!--首页视频及热门充值-->

<div class="booth-wrap">
    <div class="video-wrap">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>名称</th>
                <th>时长</th>
                <th>容量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="123456799">
                <td>
                    全职大师宣传片1

                </td>
                <td>
                    5:31
                </td>
                <td>
                    65 MB
                </td>
                <td>
                    <a> 删除</a>
                    <a> 预览</a>
                    <a> <i class="fa fa-arrow-up fa-lg"></i> </a>
                    <a> <i class="fa fa-arrow-down fa-lg"></i> </a>
                </td>
            </tr>
            <tr data-id="123456799">
                <td>
                    全职大师宣传片2

                </td>
                <td>
                    5:31
                </td>
                <td>
                    65 MB
                </td>
                <td>
                    <a> 删除</a>
                    <a> 预览</a>
                    <a> <i class="fa fa-arrow-up fa-lg"></i> </a>
                    <a> <i class="fa fa-arrow-down fa-lg"></i> </a>
                </td>
            </tr><tr data-id="123456799">
                <td>
                    全职大师宣传片3

                </td>
                <td>
                    5:31
                </td>
                <td>
                    65 MB
                </td>
                <td>
                    <a> 删除</a>
                    <a> 预览</a>
                    <a> <i class="fa fa-arrow-up fa-lg"></i> </a>
                    <a> <i class="fa fa-arrow-down fa-lg"></i> </a>
                </td>
            </tr>



            </tbody>
        </table>
    </div>

    <div class="game-booth-list">
        <div class="game-item">
            <img src="http://placehold.it/200x200">
                    <div class="bottom-title">
                        <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
                    </div>
        </div>

        <div class="game-item">
            <img src="http://placehold.it/200x200">
            <div class="bottom-title">
                <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
            </div>
        </div><div class="game-item">
        <img src="http://placehold.it/200x200">
        <div class="bottom-title">
            <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
        </div>
    </div><div class="game-item">
        <img src="http://placehold.it/200x200">
        <div class="bottom-title">
            <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
        </div>
    </div><div class="game-item">
        <img src="http://placehold.it/200x200">
        <div class="bottom-title">
            <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
        </div>
    </div><div class="game-item">
        <img src="http://placehold.it/200x200">
        <div class="bottom-title">
            <span>DOTA2</span>
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x f-red"></i>
                            <i class="fa fa-close fa-stack-1x f-black"></i>
                        </span>
        </div>
    </div>
    </div>

    <div>
        <div class="form-group">
            <select class="form-control" style="width: 240px;" id="game-select-box">
                <option>LOL</option>
                <option>DOTA2</option>
                <option>WOT</option>
                <option>冰封王座</option>
            </select>
        </div>
    </div>

</div>