<script type="text/javascript">
    F.data('user',{
        'id':'${user.id}',
        'name': '${user.name}',
        'userface':'${user.userface}',
        "directoryId":"${current_directory.directory_id}",
        "stageId": "${current_directory.stage_id}",
        "stageName": "${current_directory.stage_name}",
        "subjectId": "${current_directory.subject_id}",
        "subjectName": "${current_directory.subject_name}",
        "versionId": "${current_directory.version_id}",
        "versionName": "${current_directory.version_name}",
        "gradeName": "${current_directory.grade_name}"
    });
</script>