<div class="page-main-header" id="page-main-header">
	<header>
		<a href="/" class="logo"></a>
		<nav class="v-top">
			#if($page.equals("index"))
			<a href="/" class="active"><em>首页</em></a>
			#else
			<a href="/"><em>首页</em></a>
			#end
			#if($page.equals("resources"))
			<a href="/resources_vm/resources#/resource/courseware" class="active"> <em>教学资源</em> </a>
			#else
			<a href="/resources_vm/resources#/resource/courseware"> <em>教学资源</em> </a>
			#end
			#if($page.equals("quizcenter"))
			<a href="/quizcenter_vm/quizcenter#/select/chapter" #if($page.equals("quizcenter")) class="active" #end > <em>组题中心</em> </a>
			#else
			<a href="/quizcenter_vm/quizcenter#/select/chapter"> <em>组题中心</em> </a>
			#end
			#if($page.equals("course"))
			<a href="/course/index" #if($page.equals("course")) class="active"  #end > <em>课程中心</em> </a>
			#else
			<a href="/course/index"> <em>课程中心</em> </a>
			#end
		</nav>
		<div class="page-user-center">
			<div class="logout-unit">
				<a class="logout" href="/logout" id="nav_logout" title="退出登录">
					<em>注销</em>
				</a>
			</div>
			<div class="user-title">
				<span class="user-base-info">
					<span class="user-name" id="user-name" title="${user.name}">${user.name}</span>
					<img class="user-face-img" id="user-face-img" src="${user.userface}">
					<span class="i-shrink"><i class="ico-shrink-down"></i></span>
				</span>
				<ul class="user-center-ul">
					<li id="nav_my_resource">
						<a href="/resource/courseware/list/my">我的资源</a>
					</li>
					<li id="nav_questions">
						<a href="/myqb/index">我的题库</a>
					</li> 
					<li id="nav_class" class="border-top">
						<a href="/class/my">我的班级</a>
					</li> 
					<li id="user" class="border-top">
						<a href="/user_info">个人中心</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
</div>