<!-- header logo: style can be found in header.less -->

<header class="header">
    <a href="#/index" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
       <span class="logo">
           
       </span>
    </a>

    <div class="navbar-right game-nav-right">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                    <span> 您好！老王 <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header bg-light-blue">
                        <img src="../../img/avatar3.png" class="img-circle" alt="User Image">
                        <p>
                            Jane Doe - Web Developer
                            <small>Member since Nov. 2012</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="col-xs-4 text-center">
                            <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 723px;">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas" style="min-height: 723px;">
        <!-- sidebar: style can be found in sidebar.less -->
        {{{leftNav}}}
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header" style="visibility: hidden;">
            <h1 style="display: none;">
                Data Tables
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">工会</a></li>
                <li class="active">工会查询</li>
            </ol>
        </section>

        <!-- Main content -->
        <div class="content admin-content"></div>
        <!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->