/**
 * 页面头部导航
 */
.page-main-header{
    width:100%;
    height:60px;
    background:#0095F1;
    header{
        width:1200px;
        height:60px;
        margin:0 auto;
        background:#0095F1;
        .logo{
            display: inline-block;
            width:152px;
            height: 30px;
            background: url(./img/logo.png) no-repeat;
            margin-top:15px;
            float: left;
        }
        nav{
            display:inline-block;
            height:60px;
            margin:0 0 0 60px;
            float: left;
            a{
                line-height: 60px;
                width: 70px;
                height: 60px;
                padding: 0 15px;
                position: relative;
                text-align: center;
                font-size: 14px;
                display: inline-block;
                vertical-align: top;
                float: left;
                &:link, &:visited{
                    color:#FFF;
                }
                &:hover{
                    background:#008DE5;
                }
                &.active{
                    background:#0086D8;
                }
            }
            em{
                font-size: 16px;
                display:inline-block;
                text-align:center;
            }
        }
        .page-user-center {
            float: right;
            color: white;
            height: 60px;
            line-height: 60px;
            .logout-unit{
                position: relative;
                float: left;
                padding-right: 20px;
                &:after{
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    margin-top:-10px;
                    width: 0px;
                    display: block;
                    height: 20px;
                    border-left: 1px #33aaf4 solid;
                }
                a{
                    color:#FFF;
                }
            }
            .user-title{
                float: left;
                padding-left: 20px;
                position: relative;
                ul{
                    display: none;
                    position: absolute;
                    right: 0px;
                    left: 0px;
                    top:60px;
                    background-color: #FFF;
                    border:1px #e0e0e0 solid;
                    z-index: 500;
                    li {
                        height: 40px;
                        line-height: 40px;
                        position: relative;
                        a{
                            color: #4c4c4c;
                            display: block;
                            height: 100%;
                            padding-left: 20px;
                            &:hover{
                                color:#0095f1;
                            }
                        }
                        &.border-top{
                            border-top: 1px solid #e0e0e0;
                        }
                    }
                }
                &:hover{
                    background:#008DE5;
                }
                &:hover ul{
                    display: block;
                }
                .i-shrink {
                    margin-left: 3px;
                    margin-right: 5px;
                }
                &:hover .ico-shrink-down{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
            }
            .user-name{
                margin-right: 10px;
            }
            .user-face-img{
                @include fis-icon(40px);
                border-radius: 20px;
            }
        }
    }
}

/* 头部Tab */
.page-header{
    width:100%;
    height:55px;
    background:#f0f9ff;
    position: relative;
    border-bottom:1px solid #ddf1ff;
    .page-header-inner{
        width:1200px;
        height:100%;
        margin:0 auto;
        position: relative;
        z-index: 1;
        background:#f0f9ff;
        nav{
            @include fis-inline-block;
            height:100%;
            float: left;
            a{
                line-height:45px;
                height:45px;
                padding:0 30px;
                margin:10px 10px 0 0;
                font-size:16px;
                float: left;
                border:1px solid #f0f9ff;
                border-bottom: none;
                color: #0095f1;
                @include fis-inline-block;
                &.active{
                    background-color: #FFF;
                    border:1px solid #ddf1ff;
                    border-bottom: none;
                }
            }
        }
        .page-header-ctrls{
            float: right;
            a.btn{
                margin-top: 10px;
            }
        }
    }
}

/*!
 * 结构样式
 */
.page-main-content{
    &.has-header{
        min-height: calc(100% - 161px);
    }
    &.no-header{
        min-height: calc(100% - 101px);
    }
}
.page-line{overflow: hidden;}

/**
 * 页面底部
 */
.page-footer{
    width:100%;
    height:60px;
    border-top:1px solid #e0e0e0;
    background:#ebebeb;
    margin-top: 40px;
    footer{
        width:1200px; 
        height:100%;
        margin:0 auto;
        color:#7b7b7b;
        line-height:60px;
        text-align: center;
    }
}
