<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="#/index" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        后台系统LOGO
    </a>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 723px;">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas" style="min-height: 723px;">
        <!-- sidebar: style can be found in sidebar.less -->
        {{{leftNav}}}
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header" style="visibility: hidden;">
            <h1 style="display: none;">
                Data Tables
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">工会</a></li>
                <li class="active">工会查询</li>
            </ol>
        </section>

        <!-- Main content -->
        <div class="content admin-content"></div>
        <!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->