<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="#/index">
                    <i class="fa fa-home"></i> <span>首页</span>
                </a>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>工会</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/union/list"><i class="fa fa-angle-double-right"></i> 工会查询</a></li>
                    <li><a href="#/union/check"><i class="fa fa-angle-double-right"></i> 新工会审核</a></li>
                    <li><a href="#/union/rebat"><i class="fa fa-angle-double-right"></i> 公户返利结算</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>