.pager{
	overflow: hidden;
	@include fis-inline-block;
	margin: 0px auto;
	a, span{
		margin: 0px 2px;
		background-color: #FFF;
		min-width: 28px;
		height: 28px;
		line-height: 28px;
		font-size: 14px;
		color: #4D4D4D;
		text-align: center;
		float: left;
		cursor: pointer;
		text-decoration: none;
		border:1px solid #FFF;
		&:hover{
			color: #4d4d4d;
			background-color: #ebebeb;
			border-color: #e0e0e0;
		}
	}
    span:hover{
	  background: #FFF;
	  border-color: #FFF;
	  cursor: default;
	}

	span.omission, span.omission:hover{
		background-color: #FFF;
		border-color: #FFF;
		cursor: default;
		color: #4D4D4D;
	}
	span.cur, span.cur:hover{
		color: #FFF;
		cursor: default;
		background-color: #0096E1;
		border-color: #0096E1;
	}
  	span.prev,span.prev:hover,
	a.prev{
		i.ico-prev{
			@include fis-icon-rect(7px, 12px);
			background:url(./img/left.png?__sprite) no-repeat;
		}
	}
	a.prev:hover{
		background-color: #ebebeb;
		border-color: #e0e0e0;
	}
  	span.next, span.next:hover,
	a.next{
		i.ico-next{
			@include fis-icon-rect(7px, 12px);
			background:url(./img/right.png?__sprite) no-repeat;
		}
	}
	a.next:hover{
		background-color: #ebebeb;
		border-color: #e0e0e0;
	}
	a.goto{
		margin: 0 5px;
	  	padding: 0 10px;
	    color:#FFF;
	  	background: #0096e1;
	  &:hover{
		background: #0096e1;
	  }
	}
	.jump{
		vertical-align: middle;
	    float: left;
	    margin-left: 2px;
	    margin-right: 0px;
	    width: 25px;
	    height: 25px;
	    border: 1px solid #ebe8e8;
	    line-height:27px\9;
	    font-size: 14px;
	    color: #999;
	    margin-top:3px;
	    text-align: center;
	    outline: 0;
	    font-size: 12px;
	}
}